body {
    background: rgb(188, 0, 255);
    background: -moz-linear-gradient(290deg, rgba(188, 0, 255, 1) 0%, rgba(0, 46, 223, 1) 100%);
    background: -webkit-linear-gradient(290deg, rgba(188, 0, 255, 1) 0%, rgba(0, 46, 223, 1) 100%);
    background: linear-gradient(290deg, rgba(188, 0, 255, 1) 0%, rgba(0, 46, 223, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#bc00ff", endColorstr="#002edf", GradientType=1);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    size: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

input {
    align-content: first baseline;
    box-shadow: 0px 2px #2e2e2e;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
    padding: 5px;
    height: fit-content;
    width: 100%;
    font-size: 16px;
}

input:focus {
    outline: none;
}

#header {
    display: flex;
    align-items: center;
    background-color: #0000006e;
    border-bottom: 2px solid rgb(255, 255, 255);
    padding: 1rem;
}


#header #title {
    display: flex;
    margin-left: 45%;
    font-size: 2rem;
    color: rgb(255, 255, 255);
}

#task_card_body {
    margin: 3rem;
    display: grid;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 1.5rem;
    padding: 1rem;
    height: 45rem;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);

}


#text_area input {
    margin-right: 3rem;
    height: 2rem;
}

#text_area {
    display: flex;
}

#addBtn {
    width: fit-content;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
    height: 4rem;
    width: 8rem;
    padding: 5px;
    border: none;
    background-size: 300% 100%;

    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#addBtn:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

#addBtn:focus {
    outline: none;
}

#addBtn {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}

ul {
    padding: 0px;
    margin: 0px;
    overflow-y: scroll;
}

li {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.3rem;
}

#todo_list p {
    color: rgb(47, 255, 175);
}

.disabled {
    display: flex;
    text-decoration: line-through;
}

input[type="text"]::before {
    content: "\2713";
    display: inline-block;
    width: 2rem;
    height: 2rem;
    font-size: 1.7rem;
    text-align: center;
    border: 0.06rem solid rgb(63, 63, 63);
    border-radius: 50%;
    color: transparent;
}

input[type="text"]::before::after {
    color: white;
    background-color: hsl(120, 100%, 25%);
    border: 0.06rem solid hsl(120, 100%, 25%);
    border-radius: 50%;
}